.footer {
    background-color: $color-grey-dark;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-primary-light;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .2rem;
}